<div class="section section--menu">
	<h2 class="section__title">Sebastian</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configSebastian" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Alonso</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="config" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Viola</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configViola" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Prospero</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configProspero" [active]="data[0]" [data]="data"></line-menu-style>
</div>

<div class="section section--menu">
	<h2 class="section__title">Antonio</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configAntonio" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Miranda</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configMiranda" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Ariel</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configAriel" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Caliban</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configCaliban" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Ferdinand</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configFerdinand" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Adrian</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configAdrian" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Francisco</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configFrancisco" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Trinculo</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configTrinculo" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Stephano</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configStephano" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Iris</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configIris" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Ceres</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configCeres" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Juno</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configJuno" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Maria</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configMaria" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Valentine</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configValentine" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Puck</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configPuck" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Bagot</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configBagot" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Shylock</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configShylock" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Cordelia</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configCordelia" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Horatio</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configHoratio" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Luce</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configLuce" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Juliet</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configJuliet" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Invulner</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configInvulner" [active]="data[0]" [data]="data"></line-menu-style>
</div>
<div class="section section--menu">
	<h2 class="section__title">Tantalid</h2>
	<span class="link-copy"></span>
	<line-menu-style [config]="configTantalid" [active]="data[0]" [data]="data"></line-menu-style>
</div>

